<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BWGUIServlet</servlet-name>
        <servlet-class>org.bwgui.ws.BWGUIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BWGUIServlet</servlet-name>
        <url-pattern>/BWGUIServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>jdbc:postgresql://10.45.200.68:5432/Transport</description>
        <res-ref-name>BDlink</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
